body {
	height: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1860px;
  background-color: rgba(180, 215, 255, 0.3);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;

}
header {  
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  background-image: linear-gradient(180deg, rgba(0, 2, 19, 0.8), rgba(75, 25, 124, 0.3));    
  color: rgb(248, 255, 255);
  margin-top: -15px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.7) inset;
  border-bottom: 2px rgb(85, 138, 187) solid;
}
footer {
  border-top: 2px rgb(85, 138, 187) solid;
  display: block;
  height: 50px;
  background-image: linear-gradient(180deg, rgba(10, 11, 24, 0.8), rgba(217, 228, 214, 0.3));
}
.general .info {
  margin: 20px;
  padding: 20px;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h3 {
  font-size: 20px;
}
.general {
  margin-left: 50px;
  margin-right: 50px;

}
.info {
  padding-left: 30px;
  padding-right: 20px;
  border-left: 2px rgb(85, 138, 187) solid;
  background-color: rgb(221, 228, 233);
}
img {
  border-radius: 100px;
  margin-top: 50px;
  width:110%;
  height:80%;
}
header > h1 {
  text-align: center;
  margin-bottom: 5px;
  padding-top: 5px;
} 
header > h3 {
 text-align: center;
 margin-top: 0;
}
.info > h2, .general > h3 {
display: inline-block;
background-color: #27ae60;
padding: 5px;
border-radius: 5px;
color:#fff;
margin: 10px 0 auto;
}
.general > h3 {
  display: block;
}
.info h3 {
  display: inline-block;
  border-radius: 5px;
  border:#aaa solid 1px;
  background-color: #fff;
  padding: 5px;
  margin: 5px 0 auto;
}
.general ul > ol {
  padding-left: 15px;
  padding: 5px;
}
a { 
  text-decoration: none;
  color:#C46B1D;
}
a:hover {
   text-decoration: underline;
}
.general > .reference {
   display:inline-block;
   margin: 0 10px 10px;
   background-color: #34495E;
}
.reference a {
   color: #fff;
   text-decoration: none;
}
.reference:hover, .reference:focus {
  background-color: #4E6D8D;
}
@media print {
body {
  background-image: none !important;
  background-color: white;
  font-size: 14px;  
}
a, header, h2, h3, h1 {
  color: black !important;
}
header, .info, .general {
  border: none;
  box-shadow: none;
}
.reference a, .nth li:nth-child(5n),.nth li:nth-child(6n) {
  display: none;
}
}
@media (max-device-width: 500px){
.flex {
  flex-direction: column;
  align-items: flex-start;
}
body, a, header{
  font-size: 70%;
}
 h2, h3 {
  font-size: 170%;
 }
img {
 display: none;
}
.info {
  width: 90%;
  margin: 0;
  padding-left: 5px;
}
.general {
  padding-left: 5px;
  width: 90%;
  margin: 0;
}
}
@media only screen and (max-width: 700px) {
.flex {
  flex-direction: column;
  align-items: flex-start;
}
body, a, header{
  font-size: 70%;
}
 h2, h3 {
  font-size: 170%;
 }
img {
 display: none;
}
.info {
  width: 90%;
  margin: 0;
  padding-left: 5px;
}
.general {
  padding-left: 5px;
  width: 90%;
  margin: 0;
}
}